div.signup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

div.signup-container form {
  display: flex;
  flex-direction: column;
  background: #eee;
  height: 350px;
  width: 300px;
  padding: 40px;
}

div.signup-container form input {
  border: 1px solid #ddd;
  padding: 5px;
  margin: 5px 0;
}

div.signup-container form input.btn {
  background: rgb(223, 59, 59);
  padding: 10px 20px;
}
