@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-weight: 400;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
  color: #131212;
  line-height: 145%;
  background: #fffefe;
}

.btn {
  border: 1px solid #ddd;
  padding: 10px 20px;
  color: #ddd;
  cursor: pointer;
  margin: 5px 0;
  border-radius: 4px;
  transition: filter 0.4s;
}

.btn:hover,
.btn:active {
  filter: brightness(90%);
}

div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

form {
  display: flex;
  flex-direction: column;
  background: #eee;
  height: 350px;
  width: 300px;
  padding: 40px;
}

form input {
  border: 1px solid #ddd;
  padding: 5px;
  margin: 5px 0;
}

form input.btn,
.logout {
  background: rgb(223, 59, 59);
  padding: 10px 20px;
}

.logout {
  margin-left: 40px;
}

